<div class="item" *ngFor="let i of 100 | times">
  <div class="img-box">
    <img src="http://lorempixel.com/100/100/" class="image">
  </div>
  <div class="text">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eveniet maxime, porro, officia fugiat officiis veritatis beatae, similique recusandae minus maiores sequi velit adipisci, quibusdam. Modi odio vero, voluptatem architecto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ducimus, earum nihil minima iure corporis cum mollitia quos, dolorum. Possimus vero ea placeat incidunt ipsam nobis iste nesciunt, beatae velit.</p>
  </div>
</div>
