:host {
  width: 500px;
  background-color: rgba(#fefefe, .95);
  overflow-y: scroll;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.img-box {
  flex-basis: 120px;
  padding: 10px;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 12px;
}
